@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@font-face {
    font-family: 'Panton';
    /*a name to be used later*/
    src: url('fonts/Panton-BlackCaps.woff2') format('woff');
    /*URL to font*/
}


/* devanagari */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/back2.png") center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Panton';
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(255, 50, 50);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#spinner {
    animation: rotate 0.5s infinite linear;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-bottom: 2px solid rgb(255, 50, 50);
    border-radius: 50%;
    margin: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#menu {
    width: 100%;
    text-align: center;
    margin: 6vh 0px;
    display: none;
}

#menu a {
    margin: 0px 6%;
    font-size: 19px;
    color: #fff;
    text-decoration: underline;
}

#middle {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding-bottom: 10vh;
}

#middle h1 {
    color: rgb(255, 50, 50);
    font-size: 70px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

#middle p {
    color: white;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

#about {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    transform: rotate(-90deg);
    background: transparent;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.5s ease-in-out;
    border-radius: 0px 0px 100px 100px;
}

#work {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    transform: rotate(90deg);
    background: transparent;
    color: #fff;
    position: fixed;
    right: 0;
    bottom: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-radius: 0px 0px 100px 100px;
}

#contact {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    background: transparent;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-radius: 100px 100px 0px 0px;
}

#about:hover {
    background: rgba(255, 50, 50, 0.9);
}

#work:hover {
    background: rgba(255, 50, 50, 0.9);
}

#contact:hover {
    background: rgba(255, 50, 50, 0.9);
}

#middle table {
    width: 30%;
    margin: 6vh auto;
}

#middle table tr td {
    text-align: center;
}

.social {
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    margin: 0px 8px;
    text-align: center;
}

.social:hover {
    color: rgb(255, 50, 50);
}

.container {
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
    background: rgb(255, 50, 50);
    color: #fff;
    z-index: 9;
    position: fixed;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
}

.container div {
    font-size: 25px;
    margin: 20px 0px;
    transition: 0.4s ease-in-out;
}


/*
.container div:hover {

}
*/

.container section {
    margin: 8vh 0px;
}

#used div {
    font-size: 14px !important;
    display: inline-block;
    padding: 8px 10px;
    border: 2px solid #fff;
    margin: 0px 10px;
    border-radius: 50px;
}


/*
#used:hover {
    cursor: text;
}

#used div:hover {
    cursor: text;
}
*/

form {
    width: 450px;
    border-radius: 17px;
    padding: 20px;
}

.container h1 {
    font-size: 60px;
    text-decoration: underline;
}

.container p {
    font-size: 21px;
}

.btn_one {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}

.btn_one:hover {
    color: rgb(255, 50, 50);
    background: #fff;
}

.btn_two {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 50, 50);
    background: #fff;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}

.btn_two:hover {
    padding: 8px 60px;
}

.container form input {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Panton';
    display: block;
    height: 44px;
    width: 350%;
    outline: none;
    border-radius: 10px;
    transition: all 1s;
    border: 3px solid rgba(102, 51, 153, 0);
    background: #212121;
    color: white;
    margin: 1em 0 2em 0;
    padding: 2em;
    cursor: none;
}

.container form button {
    border: none;
    height: 50px;
    width: 373%;
    border-radius: 0.3em;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Panton';
    /* Colors */
    color: white;
    background: #212121;
    /* To get the hover animation to work */
    transition: transform .5s;
    cursor: none;
}

.container form textarea {
    width: 96%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: transparent;
    resize: none;
    transition: 0.4s ease-in-out;
    color: #fff;
    font-weight: bold;
}

.container form input:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.container form textarea:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

::placeholder {
    color: #fff;
}

#footer {
    color: #fff;
    width: 92vw;
    padding: 5vh 4vw;
    text-align: right;
    position: fixed;
    z-index: 1;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

#footer a {
    color: rgb(255, 50, 50);
}

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 50, 50);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 50, 50, 0.8);
}

::selection {
    color: #fff;
    background: rgb(255, 50, 50);
}

.card {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 200px;
    min-width: 300px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    -webkit-animation: fadein 2s;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    animation: fadein 2s;
    overflow: hidden;
    z-index: 999;
}

.header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 180px;
    box-shadow: 0 4px 3px #0002;
    overflow: hidden;
}

.card img {
    width: 100%;
    transition: all 1s ease;
    z-index: 0
}

.image {
    width: 100%;
    height: 180px;
    /*    cursor: crosshair; */
    overflow: hidden;
}

.image:hover img {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.header h2 {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.icon {
    position: absolute;
    background: #fff;
    right: 10px;
    top: 135px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 4px 3px #0002;
    z-index: 9
}

#rest {
    padding: 30px 15px;
    line-height: 30px;
    color: #000d42
}

@media (max-width: 800px) {
    #about {
        display: none;
    }
    #contact {
        display: none;
    }
    #work {
        display: none;
    }
    #footer {
        text-align: center;
    }
    #middle {
        width: 90vw;
        padding: 0px 5vw;
    }
    #middle h1 {
        font-size: 50px;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 0.1em;
    }
    #middle table {
        width: 80%;
    }
    .container form input {
        width: 90%;
    }
    .container form textarea {
        width: 90%;
    }
    #menu {
        display: inline-block;
    }
    #onlywide {
        display: none !important;
    }
    .box2 {
        margin-left: 0px !important;
    }
    #box div {
        width: 100%;
    }
    .container form button {
        width: 90%;
    }
    .container form input {
        width: 75%;
        font-size: 15px;
    }
}