/* Label */

lab {
    display: block;
    text-align: start;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 30px;
    cursor: none;
}


/* Form */


/* Input */

.inputfield {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    height: 44px;
    width: 95%;
    outline: none;
    border-radius: 10px;
    transition: all 1s;
    border: 3px solid rgba(102, 51, 153, 0);
    background: #212121;
    color: white;
    margin: 1em 0 2em 0;
    padding: 2em;
    cursor: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 3px solid white;
}

input[type="message"]:focus {
    border: 3px solid white;
}


/* Button */

.button {
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 0.3em;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Panton';
    /* Colors */
    color: white;
    background: #212121;
    /* To get the hover animation to work */
    transition: transform .5s;
    cursor: none;
}

.button:hover {
    transform: scale(1.03);
    cursor: none;
    background-color: #f2f2f2;
    color: #212121;
}